:host {
  display: block;
}

.modal.show .modal-dialog {
  transform: translate(0, 25vh);
}

.modal-backdrop.show {
  opacity: 0.8 !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
}


@media (max-width: 576px) {
  .modal-backdrop.show {
    opacity: 0.95 !important;
  }
}

@media (min-width: 577px) {
  .modal-backdrop.show {
    opacity: 0.7 !important;
  }
}
