:host {
  display: block;
}

.app-header {
  height: 60px;
  background-color: #B41E1E;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 900;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu-btn {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  display: none;
}

.title {
  font-weight: bold;
  font-size: 1.25rem;
  margin-left: 300px;
}

.user-info {
  font-size: 0.9rem;
}

/* Mostrar botón en móvil */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }
  .title {
    margin-left: 70px;
  }

}