:host {
  display: block;
}

header {
  background-color: #B41E1E; /* Rojo institucional */
  color: white;
  padding: 1rem;
  text-align: center;
}

nav {
  background-color: #FCDD09; /* Amarillo bandera */
  padding: 0.5rem;
  text-align: center;
}

nav a {
  margin: 0 15px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
}

main {
  padding: 1rem;
}