<app-navbar>

  <div id="container" style="height: 1200px;">

    <div class="card-grid">

      <mat-card class="general-card" appearance="outlined" (click)="goToAsignaturasBubbleChart()">
        <mat-card-header>
          <div mat-card-avatar class="general-header-image"></div>
          <mat-card-title>Asignaturas</mat-card-title>
          <mat-card-subtitle>Bubble chart</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/Asignaturas_bc_1.png" alt="Gráfico burbuja de asignaturas">
        <mat-card-content>
          <p>
            Aquí podrás ver las asignaturas junto con sus detalles,
            podrás visualizar las asignaturas por campo y área de formación o ver en su totalidad todas
            las asignaturas de las carreras de tecnología en sistematización de datos e ingeniería en telemática.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button matButton>LIKE</button>
          <button matButton>SHARE</button>
        </mat-card-actions>
      </mat-card>


      <mat-card class="general-card" appearance="outlined" (click)="goToAsignaturasTreeChart()">
        <mat-card-header>
          <div mat-card-avatar class="general-header-image"></div>
          <mat-card-title>Asignaturas</mat-card-title>
          <mat-card-subtitle>Tree chart</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/Asignaturas_tc_1.png" alt="Gráfico árbol de asignaturas">
        <mat-card-content>
          <p>
            Gráfico que muestra las relaciones entre las asignaturas de las carreras de
            tecnología en sistematización de datos e ingeniería en telemática.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button matButton>LIKE</button>
          <button matButton>SHARE</button>
        </mat-card-actions>
      </mat-card>


      <mat-card class="general-card" appearance="outlined" (click)="goToAsignaturasLista()">
        <mat-card-header>
          <div mat-card-avatar class="general-header-image"></div>
          <mat-card-title>Asignaturas</mat-card-title>
          <mat-card-subtitle>Lista</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/Asignaturas_lista_1.png" alt="Lista de asignaturas">
        <mat-card-content>
          <p>
            En este módulo tienes la opción de filtrar y buscar las asignaturas que complementan
            las carreras de tecnología en sistematización de datos e ingeniería en telemática.
            Podrás ver los detalles de cada asignatura como sus justificaciones, syllabus, etc...
            También tienes la opción de visualizar por cada asignatura las asignaturas asociadas.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button matButton>LIKE</button>
          <button matButton>SHARE</button>
        </mat-card-actions>
      </mat-card>

    </div>

  </div>

</app-navbar>
