<app-navbar>

  <div style="position: relative;">

    <div #myDiagram style="width:50%; height:600px; border:1px solid black;"></div>

    <!--
    <div class="container">
      <gojs-diagram
        [divClassName]="'myDiagram'"
        [initDiagram]="initDiagram"
        [nodeDataArray]="stateData.diagramNodeData"
        [linkDataArray]="stateData.diagramLinkData"
        [modelData]="{linkKeyProperty: 'key'}"
        [skipsDiagramUpdate]="false"
      ></gojs-diagram>
    </div>
    -->

    <!--
    <iframe
      src="/assets/rounded-group/index.html"
      width="100%"
      height="600px"
      style="border: none;"
    ></iframe>
    -->

  </div>


</app-navbar>

