<app-navbar>

  <div id="container" style="height: 1200px;">

    <div class="card-grid">

      <mat-card class="general-card" appearance="outlined" (click)="goToPlanEstudiosSemestres()">
        <mat-card-header>
          <div mat-card-avatar class="general-header-image"></div>
          <mat-card-title>Plan de estudios</mat-card-title>
          <mat-card-subtitle>Semestres</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/Plan_estudios_semestres_1.png" alt="Gráfico de plan de estudios por semestres">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button matButton>LIKE</button>
          <button matButton>SHARE</button>
        </mat-card-actions>
      </mat-card>


      <mat-card class="general-card" appearance="outlined" (click)="goToPlanEstudiosCirclePacking()">
        <mat-card-header>
          <div mat-card-avatar class="general-header-image"></div>
          <mat-card-title>Componentes</mat-card-title>
          <mat-card-subtitle>Circle packing</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/Plan_estudios_cc_1.png" alt="Gráfico empaquetado circular de componentes">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button matButton>LIKE</button>
          <button matButton>SHARE</button>
        </mat-card-actions>
      </mat-card>

    </div>

  </div>

</app-navbar>
