<app-navbar>

  <div id="container" style="height: 1200px;">

    <div class="card-grid">

      <mat-card class="general-card" appearance="outlined" (click)="goToPlanEstudiosSemestres()">
        <mat-card-header>
          <div mat-card-avatar class="general-header-image"></div>
          <mat-card-title>Plan de estudios</mat-card-title>
          <mat-card-subtitle>Semestres</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/Plan_estudios_semestres_1.png" alt="Gráfico de plan de estudios por semestres">
        <mat-card-content>
          <p>
            En este módulo podrás visualizar el plan de estudios de las carreras de
            tecnología en sistematización de datos e ingeniería en telemática por semestres.
            Podrás visualizar los detalles de cada asignatura, así mismo la relación de las asignaturas
            que son prerrequisitos de otras.
          </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>


      <mat-card class="general-card" appearance="outlined" (click)="goToPlanEstudiosCirclePacking()">
        <mat-card-header>
          <div mat-card-avatar class="general-header-image"></div>
          <mat-card-title>Plan de estudios</mat-card-title>
          <mat-card-subtitle>Circle packing</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/Plan_estudios_cc_1.png" alt="Gráfico empaquetado circular de componentes">
        <mat-card-content>
          <p>
            Aquí podrás visualizar los componentes de los campos de formación, áreas de formación y asignaturas.
            También podrás ver los detalles de cada componente que selecciones.
          </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>

    </div>

  </div>

</app-navbar>
