
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-1 px-sm-2 px-0 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-1 pt-2 text-white min-vh-100">
                <a href="https://www.udistrital.edu.co/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-blue text-decoration-none">
                  <img
                    class="fs-5 d-none d-sm-inline"
                    src="assets/images/Escudo_UD.png"
                    alt="Universidad Distrital Francisco José de Caldas"
                    width="50"
                    height="50"
                    style="text-align: center;"
                  >
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a [routerLink]="['/index']" class="nav-link align-middle px-0">
                          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Inicio</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a (click)="goToCamposFormacionIndex()" style="cursor: pointer;" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi bi-caret-right"></i> <span class="ms-1 d-none d-sm-inline">Campos de formación</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a (click)="goToAreasFormacionIndex()" style="cursor: pointer;" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi bi-square"></i> <span class="ms-1 d-none d-sm-inline">Áreas de formación</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="goToAsignaturasIndex()" style="cursor: pointer;" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi bi-journal-text"></i> <span class="ms-1 d-none d-sm-inline">Asignaturas</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="goToPlanEstudiosIndex()" style="cursor: pointer;" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi bi-table"></i> <span class="ms-1 d-none d-sm-inline">Plan de estudios</span>
                        </a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>


        <div class="col py-3">
          <ng-content></ng-content>
          <app-footer/>
        </div>


    </div>
</div>
