<!-- Botón hamburguesa (solo en móvil) -->
<button class="toggle-button" (click)="toggleMenu()">☰</button>

<!-- Menú lateral -->
<aside [class.open]="menuOpen">
  <h2 class="brand">Contenido</h2>
  <nav>
    <a [routerLink]="['/index']" routerLinkActive="active">Inicio</a>
    <a [routerLink]="['/index', 'bubble-chart']" [queryParams]="{ categoria: 'campos-formacion' }" routerLinkActive="active">Campos de formación</a>
    <a [routerLink]="['/index', 'bubble-chart']" [queryParams]="{ categoria: 'areas-formacion' }" routerLinkActive="active">Áreas de formación</a>
  </nav>
</aside>