<app-navbar>

  <div id="container" style="height: 1200px;">

    <div class="card-grid">

      <mat-card class="general-card" appearance="outlined" (click)="goToAreasFormacionBubbleChart()">
        <mat-card-header>
          <div mat-card-avatar class="general-header-image"></div>
          <mat-card-title>Áreas de formación</mat-card-title>
          <mat-card-subtitle>Bubble chart</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/Areas_formacion_bc_1.png" alt="Gráfico burbuja de áreas de formación">
        <mat-card-content>
          <p>
            Aquí podrás ver los componentes de las distintas áreas de formación junto con sus detalles.
            Podrás visualizar las áreas de formación por su respectivo campo de formación o poder visualizar en su
            totalidad todas las áreas de formación existentes para las carreras de tecnología en sistematización de datos
            e ingeniería en telemática.
          </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>


      <mat-card class="general-card" appearance="outlined" (click)="goToAreasFormacionLista()">
        <mat-card-header>
          <div mat-card-avatar class="general-header-image"></div>
          <mat-card-title>Áreas de formación</mat-card-title>
          <mat-card-subtitle>Lista</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/Areas_formacion_lista_1.png" alt="Lista de áreas de formación">
        <mat-card-content>
          <p>
            En este módulo tienes la opción de filtrar, buscar y ver los detalles de cada área de formación de
            las carreras de tecnología en sistematización de datos e ingeniería en telemática.
          </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>

    </div>

  </div>

</app-navbar>
