<app-navbar>

  <div class="container">
    <div class="card shadow-sm">
      <div class="card-header bg-primary text-white">
        <h4 class="mb-0">Lista de campos de formación</h4>
      </div>
      <div class="card-body" >

        <div class="row mb-3" >
          <div class="col-xl-6"></div>
          <div class="col-xl-5"></div>
          <div class="col-xl-1">
            <app-filter-pagination
              [filterPaginationDTO]="filterPaginationDTO()"
              (filterResponse)="filterQuery($event)"
            />
          </div>
        </div>

        <div class="table-responsive" style="max-height: 100vh; max-width: 200vh; overflow: auto;">
          <table class="table table-bordered table-striped">
            <thead class="table-dark">
              <tr>
                @for(label of fieldsOptions; track label) {
                  <th>{{ label.label }}</th>
                }
              </tr>
            </thead>
            <tbody>
              @for (campoFormacion of responseListCamposFormacion().content | filterAllFields:filterPaginationDTO().searchTerm; track campoFormacion.id ) {
                <tr>
                  <td>{{ campoFormacion.id }}</td>
                  <td>{{ campoFormacion.nombre }}</td>
                  <td>
                    <span
                      [ngStyle]="{
                        display: 'inline-block',
                        width: 0,
                        height: 0,
                        'border-top': '10px solid transparent',
                        'border-bottom': '10px solid transparent',
                        'border-left': '15px solid ' + campoFormacion.colorHtml
                      }">
                    </span>
                  </td>
                  <td>{{ campoFormacion.cantidadAreasFormacion }}</td>
                  <td>{{ campoFormacion.cantidadAsignaturas }}</td>
                </tr>
              }
            </tbody>
          </table>
        </div>


        <!-- Paginación -->
        <div class="row">
          <div class="col-md-4">
            Mostrando {{ (filterPaginationDTO().currentPage  * filterPaginationDTO().pageSize) - (filterPaginationDTO().pageSize - 1) }} a
            @if(filterPaginationDTO().currentPage < filterPaginationDTO().pages.length) {
              {{ (filterPaginationDTO().currentPage  * filterPaginationDTO().pageSize) }}
            }
            @else if(filterPaginationDTO().currentPage === filterPaginationDTO().pages.length) {
              {{ responseListCamposFormacion().totalRecordCount }}
            }
            de {{ responseListCamposFormacion().totalRecordCount }} registros
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-6 text-center">
            <nav class="mt-3">
              <div class="pagination-wrapper">
                <ul class="pagination justify-content-center flex-nowrap">
                  <li class="page-item">
                    <a class="page-link" href="#" (click)="goToPreviousPage((filterPaginationDTO().currentPage || 1) - 1); $event.preventDefault()">Anterior</a>
                  </li>
                  @for (page of filterPaginationDTO().pages; track page; let i = $index) {
                    <li class="page-item" [class.active]="page === filterPaginationDTO().currentPage">
                      <a class="page-link" href="#" (click)="goToPage(page); $event.preventDefault()">{{ page }}</a>
                    </li>
                  }
                  <li class="page-item">
                    <a class="page-link" href="#" (click)="goToNextPage((filterPaginationDTO().currentPage || 1) + 1); $event.preventDefault()">Siguiente</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
        <!-- Paginación -->


      </div>
    </div>
  </div>

</app-navbar>
