
footer {
  background-color: #E5E5E5; /* Gris institucional */
  text-align: center;
  font-size: 0.9em;
  margin-left: 220px;
  margin-top: 60px; 
  padding: 1rem;
}

@media (max-width: 768px) {
  footer {
    margin-left: 0;
  }
}