<app-navbar>

  <div class="container">
    <div class="card shadow-sm">
      <div class="card-header bg-primary text-white">
        <h4 class="mb-0">Lista de Asignaturas</h4>
      </div>
      <div class="card-body" >

        <div class="row mb-3" >
          <div class="col-xl-6"></div>
          <div class="col-xl-5"></div>
          <div class="col-xl-1">
            <app-filter-pagination
              [filterPaginationDTO]="filterPaginationDTO()"
              (filterResponse)="filterQuery($event)"
            />
          </div>
        </div>

        <div class="table-responsive" style="max-height: 100vh; max-width: 200vh; overflow: auto;">
          <table class="table table-bordered table-striped">
            <thead class="table-dark">
              <tr>
                @for(label of fieldsOptions; track label) {
                  <th>{{ label.label }}</th>
                }
              </tr>
            </thead>
            <tbody>
              @for (asignatura of responseListAsignaturas().content | filterAllFields:filterPaginationDTO().searchTerm; track asignatura.codigo ) {
                <tr>
                  <td>{{ asignatura.codigo }}</td>
                  <td>{{ asignatura.nombre }}</td>
                  <td>{{ asignatura.semestreAsignatura }}</td>
                  <td>{{ asignatura.carrera }}</td>
                  <td>{{ asignatura.codigoCondor }}</td>
                  <td>{{ asignatura.numeroCreditos }}</td>
                  <td><button type="button" class="btn btn-primary" (click)="showSwalAsignaturaJustificacion(asignatura)">Ver</button></td>
                  <td><button type="button" class="btn btn-primary" (click)="showSwalAsignaturaDetalles(asignatura)">Ver</button></td>
                </tr>
              }
            </tbody>
          </table>
        </div>

        <app-pagination
          [filterPaginationDTO]="filterPaginationDTO()"
          (pageChange)="goToPage($event)"
        />

      </div>
    </div>
  </div>

</app-navbar>
