
<app-navbar>

  <div id="container" style="height: 1000px;">

    <div class="card-grid">

      <mat-card class="general-card" appearance="outlined" (click)="goToCamposFormacionIndex()">
        <mat-card-header>
          <div mat-card-avatar class="general-header-image"></div>
          <mat-card-title>Campos de formación</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/images/Campos_formacion.png" alt="Campos de formación">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button matButton>LIKE</button>
          <button matButton>SHARE</button>
        </mat-card-actions>
      </mat-card>


      <mat-card class="general-card" appearance="outlined" (click)="goToAreasFormacionIndex()">
        <mat-card-header>
          <div mat-card-avatar class="general-header-image"></div>
          <mat-card-title>Áreas de formación</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/images/Areas_formacion.png" alt="Áreas de formación">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button matButton>LIKE</button>
          <button matButton>SHARE</button>
        </mat-card-actions>
      </mat-card>


      <mat-card class="general-card" appearance="outlined" (click)="goToAsignaturasIndex()">
        <mat-card-header>
          <div mat-card-avatar class="general-header-image"></div>
          <mat-card-title>Asignaturas</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/images/Asignaturas_2.png" alt="Asignaturas">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button matButton>LIKE</button>
          <button matButton>SHARE</button>
        </mat-card-actions>
      </mat-card>


      <mat-card class="general-card" appearance="outlined" (click)="goToPlanEstudiosIndex()">
        <mat-card-header>
          <div mat-card-avatar class="general-header-image"></div>
          <mat-card-title>Plan de estudios</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/images/Plan_estudios.png" alt="Asignaturas">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button matButton>LIKE</button>
          <button matButton>SHARE</button>
        </mat-card-actions>
      </mat-card>

    </div>

  </div>

</app-navbar>
