
<app-navbar>

  <div id="container" style="height: 1000px;">

    <div class="card-grid">

      <mat-card class="general-card" appearance="outlined" (click)="goToCamposFormacionIndex()">
        <mat-card-header>
          <div mat-card-avatar class="general-header-image"></div>
          <mat-card-title>Campos de formación</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/images/Campos_formacion.png" alt="Campos de formación">
        <mat-card-content>
          <p>
            Los campos de formación representan las grandes áreas del conocimiento que estructuran
            el plan de estudios de los programas de Tecnología en Sistematización de Datos e Ingeniería en Telemática.
            Cada campo agrupa asignaturas con un propósito formativo común,
            permitiendo una formación integral, técnica y humanística del estudiante.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button matButton>LIKE</button>
          <button matButton>SHARE</button>
        </mat-card-actions>
      </mat-card>


      <mat-card class="general-card" appearance="outlined" (click)="goToAreasFormacionIndex()">
        <mat-card-header>
          <div mat-card-avatar class="general-header-image"></div>
          <mat-card-title>Áreas de formación</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/images/Areas_formacion.png" alt="Áreas de formación">
        <mat-card-content>
          <p>
            Las áreas de formación son subdivisiones específicas dentro de cada campo de formación,
            que agrupan asignaturas relacionadas por su enfoque temático, disciplinar o aplicado.
            Estas áreas permiten organizar el plan de estudios de manera más precisa,
            facilitando una formación coherente y progresiva en cada dimensión del conocimiento.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button matButton>LIKE</button>
          <button matButton>SHARE</button>
        </mat-card-actions>
      </mat-card>


      <mat-card class="general-card" appearance="outlined" (click)="goToAsignaturasIndex()">
        <mat-card-header>
          <div mat-card-avatar class="general-header-image"></div>
          <mat-card-title>Asignaturas</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/images/Asignaturas_2.png" alt="Asignaturas">
        <mat-card-content>
          <p>
            Las asignaturas son unidades académicas que desarrollan conocimientos,
            habilidades y actitudes específicas dentro del plan de estudios.
            Están organizadas por campos y áreas de formación,
            y permiten avanzar progresivamente en la formación profesional del estudiante,
            combinando teoría, práctica y análisis crítico.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button matButton>LIKE</button>
          <button matButton>SHARE</button>
        </mat-card-actions>
      </mat-card>


      <mat-card class="general-card" appearance="outlined" (click)="goToPlanEstudiosIndex()">
        <mat-card-header>
          <div mat-card-avatar class="general-header-image"></div>
          <mat-card-title>Plan de estudios</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/images/Plan_estudios.png" alt="Asignaturas">
        <mat-card-content>
          <p>
            El plan de estudios es la estructura académica que organiza las asignaturas a lo largo del programa,
            definiendo qué se aprende, en qué orden y con qué propósito.
            Garantiza una formación coherente, integral y progresiva, alineada con el perfil profesional del egresado.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button matButton>LIKE</button>
          <button matButton>SHARE</button>
        </mat-card-actions>
      </mat-card>

    </div>

  </div>

</app-navbar>
