

@if(urlParams()?.categoria == 'campos-formacion') {
    <h1>
        Campos de formación
    </h1>
}

@if(urlParams()?.categoria == 'areas-formacion') {
    <h1>
        Áreas de formación
    </h1>
}

@if(urlParams()?.categoria == 'asignaturas') {
    <h1>
        Asignaturas
    </h1>
}


<div #chartContainer class="bubble-chart-container" style="width: 100%; height: 1000px;"  (contextmenu)="onGlobalContextMenu($event)"></div>


@if(menuVisible) {
    <ul
        #contextMenuRef
        [style.left.px]="menuX"
        [style.top.px]="menuY"
        class="context-menu">
        <li (click)="onOptionSelected('ver')">🔍 Ver detalles</li>
        <li (click)="onOptionSelected('ir')">🔗 Ir al enlace</li>
    </ul>
}
