<app-navbar>

  <div class="container">
    <div class="card shadow-sm">
      <div class="card-header bg-primary text-white">
        <h4 class="mb-0">Lista de áreas de formación</h4>
      </div>
      <div class="card-body" >

        <div class="mb-3 row">

          <div class="col-md-3"><label for="pageSize" class="form-label">Registros por página:</label></div>
          <div class="col-md-3">
             <select id="pageSize" [(ngModel)]="pageSize" class="form-select" (change)="updateFilters()">
              @for (option of pageSizeOptions; track option) {
                <option [value]="option">{{ option }}</option>
              }
            </select>
          </div>

          <div class="col-md-3"><label for="field" class="form-label">Filtrar por campo:</label></div>
          <div class="col-md-3">
             <select id="field" [(ngModel)]="field" class="form-select" (change)="updateFilters()">
              @for (option of fieldsOptions; track option) {
                <option [value]="option.value">{{ option.label }}</option>
              }
            </select>
          </div>

        </div>

        <div class="mb-3 row">

          <div class="col-md-3"><label for="ascending" class="form-label">Orden:</label></div>
          <div class="col-md-3">
             <select id="ascending" [(ngModel)]="ascending" class="form-select" (change)="updateFilters()">
              @for (option of ascendingOptions; track option.value) {
                <option [value]="option.value">{{ option.label }}</option>
              }
            </select>
          </div>

          <div class="col-md-3"><label for="buscar" class="form-label">Buscar:</label></div>
          <div class="col-md-3">
            <input type="text" [(ngModel)]="searchTerm" class="form-control mb-3" placeholder="Buscar...">
          </div>

        </div>

        <div class="mb-3 row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <button class="btn btn-primary mb-3" (click)="cleanFilters()">Limpiar filtros</button>
          </div>
        </div>

        <div class="table-responsive" style="max-height: 100vh; max-width: 200vh; overflow: auto;">
          <table class="table table-bordered table-striped">
            <thead class="table-dark">
              <tr>
                @for(label of fieldsOptions; track label) {
                  <th>{{ label.label }}</th>
                }
              </tr>
            </thead>
            <tbody>
              @for (areaFormacion of responseListAreasFormacion().content | filterAllFields:searchTerm; track areaFormacion.id ) {
                <tr>
                  <td>{{ areaFormacion.id }}</td>
                  <td>{{ areaFormacion.idCampoFormacion }}</td>
                  <td>{{ areaFormacion.nombre }}</td>
                  <td>
                    <span
                      [ngStyle]="{
                        display: 'inline-block',
                        width: '15px',
                        height: '15px',
                        'border': '1px solid #000',
                        'background-color': areaFormacion.colorHtml
                      }">
                    </span>
                  </td>
                  <td>{{ areaFormacion.cantidadAsignaturas }}</td>
                </tr>
              }
            </tbody>
          </table>
        </div>

        <div>
          Mostrando {{ (currentPage * pageSize) - (pageSize - 1) }} a
          @if(currentPage < totalPages.length) {
            {{ (currentPage * pageSize) }}
          }
          @else if(currentPage === totalPages.length) {
            {{ responseListAreasFormacion().totalRecordCount }}
          }
          de {{ responseListAreasFormacion().totalRecordCount }} registros
        </div>

        <!-- Paginación -->
        <nav class="mt-3">
          <div class="pagination-wrapper">
            <ul class="pagination justify-content-center flex-nowrap">
              <li class="page-item">
                <a class="page-link" href="#" (click)="goToPreviousPage(currentPage - 1); $event.preventDefault()">Anterior</a>
              </li>
              @for (page of totalPages; track page; let i = $index) {
                <li class="page-item" [class.active]="page === currentPage">
                  <a class="page-link" href="#" (click)="goToPage(page); $event.preventDefault()">{{ page }}</a>
                </li>
              }
              <li class="page-item">
                <a class="page-link" href="#" (click)="goToNextPage(currentPage + 1); $event.preventDefault()">Siguiente</a>
              </li>
            </ul>
          </div>
        </nav>

      </div>
    </div>
  </div>

</app-navbar>
