
<app-navbar>

    <h1>Asignaturas</h1>

    <br>


    <div class="external-categories">
      @if(urlParams().nombreCampoFormacion) {
        <h2>Campo de formación: {{ urlParams().nombreCampoFormacion }}</h2>
      }

      @if(urlParams().nombreAreaFormacion) {
        <h2>Área de formación: {{ urlParams().nombreAreaFormacion }}</h2>
      }
    </div>

    <div style="position: relative;">

      @if(asignaturasBubbleGraphIsLoading()) {
        <div class="spinner-container">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Cargando...</span>
          </div>
        </div>
      }

      <div #chartContainer class="bubble-chart-container" style="width: 100%; height: 950px;" (contextmenu)="onGlobalContextMenu($event)"></div>

      @if(menuVisible) {
        <ul
          #contextMenuRef
          [style.left.px]="menuX"
          [style.top.px]="menuY"
          class="context-menu">
          <li (click)="onOptionSelected(contextualMenuOptions.verDetalles, $event)"> {{ contextualMenuOptions.verDetalles }}</li>
          <li (click)="onOptionSelected(contextualMenuOptions.verJustificacion, $event)" class="bi bi-justify">{{ contextualMenuOptions.verJustificacion }}</li>
          <li (click)="onOptionSelected(contextualMenuOptions.verAsignaturasAsociadas, $event)">{{ contextualMenuOptions.verAsignaturasAsociadas }}</li>
          <li (click)="onOptionSelected(contextualMenuOptions.guardarImage, $event)">{{ contextualMenuOptions.guardarImage }}</li>
          <li (click)="onOptionSelected(contextualMenuOptions.copiarImagen, $event)">{{ contextualMenuOptions.copiarImagen }}</li>
          <li (click)="onOptionSelected(contextualMenuOptions.irSyllabus, $event)">{{ contextualMenuOptions.irSyllabus }}</li>
          <li (click)="onOptionSelected(contextualMenuOptions.irObjetosEstudio, $event)">{{ contextualMenuOptions.irObjetosEstudio }}</li>
          <li (click)="onOptionSelected(contextualMenuOptions.irVerbos, $event)">{{ contextualMenuOptions.irVerbos }}</li>
        </ul>
      }

    </div>

</app-navbar>
