
<app-navbar>

    <h1>Áreas de formación</h1>

    @if(urlParams().nombreCampoFormacion) {
      <div class="external-categories">
        <h2>Campo de formación: {{ urlParams().nombreCampoFormacion }}</h2>
      </div>
    }

    <div #chartContainer class="bubble-chart-container" style="width: 100%; height: 1000px;"  (contextmenu)="onGlobalContextMenu($event)"></div>

    @if(menuVisible) {
        <ul
            #contextMenuRef
            [style.left.px]="menuX"
            [style.top.px]="menuY"
            class="context-menu">
            <li (click)="onOptionSelected(contextualMenuOptions.verDetalles)">{{contextualMenuOptions.verDetalles}}</li>
        </ul>
    }

    <app-footer></app-footer>

  </app-navbar>
